<h1>Payment Calculation</h1>
<p>
<form action="/payment/results">
  <div>
    <label for="apr_input">
      <b>APR</b>
    </label>
    <input id="apr_input" type="text" name="apr_number" placeholder="E.g. 4.52">
  </div>
  
  <div>
  <label for="years_input">
      <b>Number of Years</b>
    </label>
  
    <input id="years_input" type="text" name="years_number" placeholder="How many years to repay?">
  </div>
  
  <div>
    <label for="principal_input">
      <b>Principal</b>
    </label>
  
    <input id="principal_input" type="text" name="principal_number" placeholder="How much principal?">
  </div>
    
  <button>Calculate monthly payment</button>
</form>

