<h1>Random Results</h1>

<p>A random number between <%= @min_num %> and <%= @max_num %> is <%= @random_num.round(3) %>.</p>
<a href="https://omnicalc-params-gandahar01.c9users.io/random/new">Pick another random number</a>