<h1>Flexible Square Root</h1>

<p>The square root of <%= @user_number %> is <%= @squareroot_number %></p>

<a href="https://omnicalc-params-gandahar01.c9users.io/square_root/new">Calculate another quare root</a>